@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Roboto:wght@100;300&family=Shadows+Into+Light&display=swap');

* {
  box-sizing: border-box;
}
body {
  background-color: #EFDAD7;
  color: #1572A1;
  font-family: 'Dancing Script';
  display: flex; /*to place items horizontally*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

div{
  position: absolute;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 18px;
}

input{
  width: 50px;
  padding: 5px;
  font-size: 20px;
  background-color: #E3BEC6;
  border: none;
  text-align: center;
}


input:focus{
  outline: none;
}


















